spring:
  application:
    name: sosmed
  datasource:
#    url: ${SPRING_DATASOURCE_URL}
#    username: ${SPRING_DATASOURCE_USERNAME}
#    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
#    hibernate:
#      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 50        # Enables batch processing of SQL statements
          order_updates: true     # Orders UPDATE operations for more efficient processing
          order_inserts: true     # Orders INSERT operations for more efficient processing
          batch_versioned_data: true  # Allows batching even for versioned entities
          event:
            merge:
              entity_copy_observer: allow  # Helps prevent issues with entity merging
  mail:
    host: smtp.gmail.com
    port: 587
    username: asdasd
    password: asdasd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            required: true
            enable: true

server:
  port: 8080
  servlet:
    context-path: /api/v1.0

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem

#logging:
#  level:
#    root: DEBUG

